.contact-section{
    background-size: cover;
    padding: 40px 0;
}
.contact-section h1{
    text-align: center;
    color: #DEB887;
}
.border{
    width: 400px;
    height: 2px;
    background: #DEB887;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #DEB887;
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
    text-transform: none;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #CD853F;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #CD853F;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: var(--main-color);
;
}

.contact-section h1 {
     font-size: 40px;
    text-transform: none;
}

.contact-form  span {
    font-size: 14px;
    display: none;
}