/*import font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* TODO 1. main settup */
:root {
    --main-color: #8e44ad;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}

* { /*main*/
    font-family: 'Poppins', sans-serif; /*use the font*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* end main settup */

/* TODO 2. HEADER - NAVIGATION */

section { /* padding header */
    padding: 5rem 10%;
}

.header {
    position: sticky; /* make the header - navbar on top */
    top: 0; /* position header and width */
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

/* TODO 2.1 logo settup */
.header .logo {
    font-size: 2.5rem;
    color: var(--black);
}

/* TODO 2.2 setup navbar */

/* TODO 2.2.1 navbar: links settings*/
.header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

/* TODO 2.2.2 navbar: links hover settings*/
.header .navbar a:hover {
    color: var(--main-color);
}


/* TODO 3. Menu Icon Btn */
#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none; /* να μη φαίνεται στις κανονικές διαστάσεις */
}

/* media - display - responsive */
@media (max-width: 1200px) {
    section {
        padding: 3rem 5%;
    }
}

@media (max-width: 990px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 768px) {
    /* εμφάνιση του menu btn */
    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    / / κίνηση
    }

    /* prosthhkh kinhsh sto menu btn */
    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;

        transition: .2s linear; /* emfaniontai me seira to ena katw apo to allo */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /*allows you to specify a specific region of an element to display, with the rest being hidden (or “clipped”) away.*/

    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        margin: 2rem;
        text-align: center;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}


/* TODO 3. FOOTER */
.footer {
    background-size: cover; /*Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges*/
    /*background: url(../images/footer-bg.jpg) no-repeat center;*/
    background-color: bisque;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem; /*padding*/
}

.footer .box-container .box h3 {
    color:var(--black);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color:var(--light-black);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block; /* to ena katw apo to allo */
}

.footer .box-container .fontmine a{
    text-transform: none;
}

/* settings gia ta "icons" */
.footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}

/* προσθήκη κίνησης κατά το hover */
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color:var(--white);
}

.footer .credit span{
    color:var(--main-color);
}